@import 'mixins.styl'

/* Bubble styles using: http://jsfiddle.net/ThinkingStiff/mek5Z/ */
.bubble
  background-color: white
  border-radius 5px
  box-shadow 3px 3px 6px black
  display: inline-block
  position: absolute
  vertical-align: top
  width: 220px
  &.hidden
    display: none
  &.top
    &::before
      top: 30px
  &.right
    &::before
      right: -9px
  &.left
    &::before
      left: -9px
      box-shadow none
  &.bottom
    &::before
      top: 170px

  &::before
    background-color: white
    content: "\00a0"
    display: block
    position: absolute
    transform rotate( 29deg ) skew( -35deg )
    box-shadow 2px -2px 2px 0 rgba( 0, 0, 0, .7 )
    height: 16px
    width:  20px
    top: 30px
    right: -9px

  .title-bar
    background: #E4E4FF
    align: center
    padding: 3px
    height: 20px
    vendor('border-top-left-radius', 5px)
    vendor('border-top-right-radius', 5px)

    .close
      float: right
      font-size: 1.3em
      cursor: pointer
      color: #999999
      &:hover
        color: #000000

  .content
    position: relative
    height: 160px
    padding: 5px
    font-size: 0.9em

    .details
      position: absolute
      top: 5px
      left: 130px
      padding-right: 5px

      .agent-property
        float: left
      .agent-property-value
        float: right

    .agent
      position: absolute
      top: 5px
      left: 5px
      width: 125px
      height: 160px
