.pp-slider
  position: relative
  width: 150px
  height: 30px
  left: 10px
  vendor('user-select', 'none')
  &.noTooltip
    height: 13px

  .pp-slider-scale
    background-color: #aaa
    height: 1px
    border-bottom: 1px solid #efefef
    width: 120px
    margin-top: 6px
    float: left

    .pp-slider-button
      width: 12px
      border-radius: 2px
      border: 1px solid #adadad
      height: 16px
      position: relative
      top: -7px
      left: 0px
      background-color: #efefef
      cursor: pointer

    &:hover
      border-color: #777
      background-color: #eee

      .pp-slider-divies
        border-left: 1px solid #adadad
        border-right: 1px solid #adadad
        position: relative
        left: 3px
        top: 3px
        width: 4px
        height: 10px

    .pp-slider-tooltip
      width: 24px
      height: 20px
      position: relative
      top: -5px
      left: 0px
      text-align: center
      font-size: 10px
      color: #aaa

  .pp-slider-min
    float: left
    width: 15px
    color: #aaa
    font-size: 10px

  .pp-slider-max
    float: left
    width: 15px
    color: #aaa
    font-size: 10px
    text-align: right

  &.vertical
    width: 40px // Hard to say since the label can be arbitrary length
    height: 150px
    &.noTooltip
      width: 13px

    .pp-slider-scale
      height: 120px
      width: 1px
      border-left: 1px solid #efefef
      border-bottom: none
      margin-top: 0
      margin-left: 6px
      float: none

      .pp-slider-button
        width: 12px
        height: 16px
        position: relative
        left: -7px
        top: 0px

      &:hover
        .pp-slider-divies
          position: relative
          left: 1px
          top: 5px
          width: 10px
          height: 4px
          border-top: 1px solid #adadad
          border-bottom: 1px solid #adadad
          border-left: none
          border-right: none

      .pp-slider-tooltip
        width: 24px
        height: 20px
        position: relative
        top: -5px
        left: 0px

    .pp-slider-min
      float: none
      width: 15px
      text-align: center

    .pp-slider-max
      float: none
      width: 15px
      text-align: center
