include _helpers
script(type="text/javascript", src="https://www.google.com/jsapi")
script(type="text/javascript")
  | google.load("visualization", "1", {packages:["corechart"]});
+script(src="js/vendor.js")
+script(src="js/app.js")
