include includes/_helpers
doctype html
html
  head
    include includes/shared-headers
    include includes/shared-css
    include includes/shared-js

    // model files here
    +script(src="species/varied-plants.js")
    +script(src="environments/water-flowerboxes.js")
    +script(src="models/five-water-three-plants.js")

  body
    #environment
