include includes/_helpers
doctype html
html
  body
    #header
      h1 MHE Grade 3 mockup

    .model
      iframe(src="/hawk-rabbit-snow.html", width="900px", height="400px", frameBorder="0")
    .model-width
      iframe(src="/hawk-rabbit-brown.html", width="900px", height="400px", frameBorder="0")
