include includes/_helpers
doctype html
html
  head
    include includes/shared-headers
    include includes/shared-css
    include includes/shared-js

    // model files here
    +script(src="species/varied-plants.js")
    +script(src="environments/sunlight-field.js")
    +script(src="models/field-one-plant-variation.js")

  body
    #environment
    #chart
