include includes/_helpers
doctype html
html
  head
    include includes/shared-headers
    include includes/shared-css
    include includes/shared-js

    // model files here
    +script(src="species/varied-plants.js")
    +script(src="environments/water-field.js")
    +script(src="models/field-water-one-plant-variation.js")
    style(type="text/css").
      #money {
        border: 3px solid black;
        padding: 2px;
        display: inline-block;
        vertical-align: top;
        margin-top: 400px;
      }

      #money-value {
        font-weight: bold;
        font-size: 1.2em;
      }

  body
    #environment
    #money Money remaining:
      br
      span#money-value $20
