include includes/_helpers
doctype html
html
  head
    include includes/shared-headers
    include includes/shared-css
    include includes/shared-js

    // model files here
    +script(src="species/varied-plants.js")
    +script(src="environments/sunlight-flowerboxes.js")
    +script(src="models/five-sunlight-three-plants-graph.js")

  body
    #environment
    button#make-graph(style="position: absolute") Make graph
    #chart
