include includes/_helpers
doctype html
html
  head
    include includes/shared-headers
    include includes/shared-css
    include includes/shared-js

    // model files here
    +script(src="species/fast-plants-thin.js")
    +script(src="species/white-rabbits.js")
    +script(src="environments/grass-field.js")
    +script(src="models/rabbit-controllable.js")

  body
    #environment
